
$main_950: #020617;
$main_900: #0f172a;
$main_800: #1e293b;
$main_700: #334155;
$main_600: #475569;
$main_500: #64748b;
$main_400: #94a3b8;
$main_300: #cbd5e1;
$main_200: #e2e8f0;
$main_100: #f1f5f9;
$main_50:  #f8fafc;

$desktop-side-padding: 15px;

