@import "../../../variables.scss";

.header {
    background-color: $main_400;
    padding: 20px $desktop-side-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

